/* Images created by: https://unsplash.com/@pawel_czerwinski */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');


html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Raleway, sans-serif;
  
  font-size: 12px;
  background-image: url('https://images.unsplash.com/photo-1501630834273-4b5604d2ee31?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  background-size:cover;
        -webkit-animation: slidein 100s;
        animation: slidein 100s;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;              
}

@-webkit-keyframes slidein {
from {background-position: top; background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}
}

@keyframes slidein {
from {background-position: top;background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}

}


.player-container {
  height: 500px;
  width: 400px;
  background-color: #e3e7eb93;
  border-radius: 25px;
  box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.3);
}


.img-container {
  height: 300px;
  width: 300px;

  position: relative;
  top: -50px;
  left: 50px;
}

.img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
  box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.5);

}

h2 {
  font-size: 25px;
  text-align: center;
  margin: 0;
}

h3 {
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  margin: 5px 0 0;
}

/* --------------  Progress Bar  ---------------*/
.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 40px 20px;
  height: 4px;
  width: 90%;
}

.progress {
  background: #242323;
  border-radius: 5px;
  height: 100%;
  /* change this to show progress */
  width: 0%;
  transition: width 0.1s linear;
}

.duration-wrapper {
  position: relative;
  top: -25px;
  display: flex;
  justify-content: space-between;
  user-select: none;
}

.fas:hover {
  filter: brightness(50%);
}

/* ----------------  Controls  ------------------- */
.player-controls {
  position: relative;
  top: -15px;
  left: 120px;
  width: 200px;
  cursor: pointer;

}

.fas {
  font-size: 30px;
  color: rgb(129, 129, 129);
  margin-right: 30px;

}



.main-button {
  font-size: 40px;
  position: relative;
  top: 3px;
}


/* Media Query: iPhone (Vertical) */
@media screen and (max-width: 376px) {
  .player-container {
    width: 95vw;
  }
 
  .img-container {
    left: 29px;
  }
 
  h2 {
    font-size: 20px;
  }
 
  h3 {
    font-size: 15px;
  }
 
  .player-controls {
    top: -10px;
    left: 100px;
  }
}