@import url('https://fonts.googleapis.com/css?family=Oxanium|PT+Mono&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #3a38a5;
  --select-color: #5573d8;
  --success: rgb(15, 158, 2);
  --danger: rgb(214, 23, 23);
}

body {
  margin: 0;
  font-family: PT Mono, sans-serif;
  overflow: hidden;
  display: flex;
  justify-content: center;
  height: 100vh;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1481%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M59.27 539.33L107.77 567.33L107.77 623.33L59.27 651.33L10.77 623.33L10.77 567.33zM107.77 119.33L156.27 147.33L156.27 203.33L107.77 231.33L59.27 203.33L59.27 147.33zM253.26 371.33L301.76 399.33L301.76 455.33L253.26 483.33L204.77 455.33L204.77 399.33zM301.76 119.33L350.26 147.33L350.26 203.33L301.76 231.33L253.26 203.33L253.26 147.33zM350.26 539.33L398.76 567.33L398.76 623.33L350.26 651.33L301.76 623.33L301.76 567.33zM398.76 287.33L447.26 315.33L447.26 371.33L398.76 399.33L350.26 371.33L350.26 315.33zM447.26 371.33L495.76 399.33L495.76 455.33L447.26 483.33L398.76 455.33L398.76 399.33zM495.76 119.33L544.26 147.33L544.26 203.33L495.76 231.33L447.26 203.33L447.26 147.33zM592.76 -48.67L641.25 -20.67L641.25 35.33L592.76 63.33L544.26 35.33L544.26 -20.67zM592.76 119.33L641.25 147.33L641.25 203.33L592.76 231.33L544.26 203.33L544.26 147.33zM641.25 203.33L689.75 231.33L689.75 287.33L641.25 315.33L592.76 287.33L592.76 231.33zM592.76 287.33L641.25 315.33L641.25 371.33L592.76 399.33L544.26 371.33L544.26 315.33zM592.76 455.33L641.25 483.33L641.25 539.33L592.76 567.33L544.26 539.33L544.26 483.33zM689.75 -48.67L738.25 -20.67L738.25 35.33L689.75 63.33L641.25 35.33L641.25 -20.67zM738.25 35.33L786.75 63.33L786.75 119.33L738.25 147.33L689.75 119.33L689.75 63.33zM689.75 455.33L738.25 483.33L738.25 539.33L689.75 567.33L641.25 539.33L641.25 483.33zM738.25 539.33L786.75 567.33L786.75 623.33L738.25 651.33L689.75 623.33L689.75 567.33zM835.25 35.33L883.75 63.33L883.75 119.33L835.25 147.33L786.75 119.33L786.75 63.33zM786.75 119.33L835.25 147.33L835.25 203.33L786.75 231.33L738.25 203.33L738.25 147.33zM835.25 203.33L883.75 231.33L883.75 287.33L835.25 315.33L786.75 287.33L786.75 231.33zM786.75 455.33L835.25 483.33L835.25 539.33L786.75 567.33L738.25 539.33L738.25 483.33zM932.25 35.33L980.75 63.33L980.75 119.33L932.25 147.33L883.75 119.33L883.75 63.33zM980.75 -48.67L1029.24 -20.67L1029.24 35.33L980.75 63.33L932.25 35.33L932.25 -20.67zM1029.24 35.33L1077.74 63.33L1077.74 119.33L1029.24 147.33L980.75 119.33L980.75 63.33zM980.75 455.33L1029.24 483.33L1029.24 539.33L980.75 567.33L932.25 539.33L932.25 483.33zM1077.74 -48.67L1126.24 -20.67L1126.24 35.33L1077.74 63.33L1029.24 35.33L1029.24 -20.67zM1174.74 455.33L1223.24 483.33L1223.24 539.33L1174.74 567.33L1126.24 539.33L1126.24 483.33zM1417.24 35.33L1465.73 63.33L1465.73 119.33L1417.24 147.33L1368.74 119.33L1368.74 63.33zM1368.74 119.33L1417.24 147.33L1417.24 203.33L1368.74 231.33L1320.24 203.33L1320.24 147.33z' stroke='%2303305d' stroke-width='2'%3e%3c/path%3e%3cpath d='M53.67 539.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM102.17 567.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM102.17 623.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM53.67 651.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM5.17 623.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM5.17 567.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM102.17 119.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM150.67 147.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM150.67 203.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM102.17 231.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM53.67 203.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM53.67 147.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM247.66 371.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM296.16 399.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM296.16 455.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM247.66 483.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM199.17 455.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM199.17 399.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM296.16 119.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM344.66 147.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM344.66 203.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM296.16 231.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM247.66 203.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM247.66 147.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM344.66 539.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM393.16 567.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM393.16 623.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM344.66 651.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM296.16 623.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM296.16 567.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM393.16 287.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM441.66 315.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM441.66 371.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM393.16 399.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM344.66 371.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM344.66 315.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM490.16 399.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM490.16 455.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM441.66 483.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM393.16 455.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM490.16 119.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM538.66 147.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM538.66 203.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM490.16 231.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM441.66 203.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM441.66 147.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM587.16 -48.67 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM635.65 -20.67 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM635.65 35.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM587.16 63.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM538.66 35.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM538.66 -20.67 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM587.16 119.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM635.65 147.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM635.65 203.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM587.16 231.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM684.15 231.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM684.15 287.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM635.65 315.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM587.16 287.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM635.65 371.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM587.16 399.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM538.66 371.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM538.66 315.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM587.16 455.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM635.65 483.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM635.65 539.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM587.16 567.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM538.66 539.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM538.66 483.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM684.15 -48.67 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM732.65 -20.67 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM732.65 35.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM684.15 63.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM781.15 63.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM781.15 119.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM732.65 147.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM684.15 119.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM684.15 455.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM732.65 483.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM732.65 539.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM684.15 567.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM781.15 567.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM781.15 623.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM732.65 651.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM684.15 623.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM829.65 35.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM878.15 63.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM878.15 119.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM829.65 147.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM829.65 203.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM781.15 231.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM732.65 203.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM878.15 231.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM878.15 287.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM829.65 315.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM781.15 287.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM781.15 455.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM829.65 483.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM829.65 539.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM926.65 35.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM975.15 63.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM975.15 119.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM926.65 147.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM975.15 -48.67 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM1023.64 -20.67 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM1023.64 35.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM926.65 -20.67 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM1072.14 63.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM1072.14 119.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM1023.64 147.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM975.15 455.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM1023.64 483.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM1023.64 539.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM975.15 567.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM926.65 539.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM926.65 483.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM1072.14 -48.67 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM1120.64 -20.67 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM1120.64 35.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM1169.14 455.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM1217.64 483.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM1217.64 539.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM1169.14 567.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM1120.64 539.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM1120.64 483.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM1411.64 35.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM1460.13 63.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM1460.13 119.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM1411.64 147.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM1363.14 119.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM1363.14 63.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM1411.64 203.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM1363.14 231.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM1314.64 203.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0zM1314.64 147.33 a5.6 5.6 0 1 0 11.2 0 a5.6 5.6 0 1 0 -11.2 0z' fill='%2303305d'%3e%3c/path%3e%3cpath d='M86.99 59.14L130.3 84.14L130.3 134.14L86.99 159.14L43.69 134.14L43.69 84.14zM43.69 134.14L86.99 159.14L86.99 209.14L43.69 234.14L0.39 209.14L0.39 159.14zM86.99 209.14L130.3 234.14L130.3 284.14L86.99 309.14L43.69 284.14L43.69 234.14zM86.99 509.14L130.3 534.14L130.3 584.14L86.99 609.14L43.69 584.14L43.69 534.14zM173.6 359.14L216.9 384.14L216.9 434.14L173.6 459.14L130.3 434.14L130.3 384.14zM216.9 434.14L260.2 459.14L260.2 509.14L216.9 534.14L173.6 509.14L173.6 459.14zM303.5 -15.86L346.81 9.14L346.81 59.14L303.5 84.14L260.2 59.14L260.2 9.14zM346.81 209.14L390.11 234.14L390.11 284.14L346.81 309.14L303.5 284.14L303.5 234.14zM303.5 284.14L346.81 309.14L346.81 359.14L303.5 384.14L260.2 359.14L260.2 309.14zM346.81 359.14L390.11 384.14L390.11 434.14L346.81 459.14L303.5 434.14L303.5 384.14zM433.41 59.14L476.72 84.14L476.72 134.14L433.41 159.14L390.11 134.14L390.11 84.14zM390.11 284.14L433.41 309.14L433.41 359.14L390.11 384.14L346.81 359.14L346.81 309.14zM390.11 434.14L433.41 459.14L433.41 509.14L390.11 534.14L346.81 509.14L346.81 459.14zM433.41 509.14L476.72 534.14L476.72 584.14L433.41 609.14L390.11 584.14L390.11 534.14zM476.72 134.14L520.02 159.14L520.02 209.14L476.72 234.14L433.41 209.14L433.41 159.14zM520.02 359.14L563.32 384.14L563.32 434.14L520.02 459.14L476.72 434.14L476.72 384.14zM606.62 59.14L649.92 84.14L649.92 134.14L606.62 159.14L563.32 134.14L563.32 84.14zM606.62 209.14L649.92 234.14L649.92 284.14L606.62 309.14L563.32 284.14L563.32 234.14zM563.32 434.14L606.62 459.14L606.62 509.14L563.32 534.14L520.02 509.14L520.02 459.14zM649.92 134.14L693.23 159.14L693.23 209.14L649.92 234.14L606.62 209.14L606.62 159.14zM693.23 509.14L736.53 534.14L736.53 584.14L693.23 609.14L649.92 584.14L649.92 534.14zM823.13 134.14L866.44 159.14L866.44 209.14L823.13 234.14L779.83 209.14L779.83 159.14zM866.44 209.14L909.74 234.14L909.74 284.14L866.44 309.14L823.13 284.14L823.13 234.14zM866.44 359.14L909.74 384.14L909.74 434.14L866.44 459.14L823.13 434.14L823.13 384.14zM953.04 359.14L996.35 384.14L996.35 434.14L953.04 459.14L909.74 434.14L909.74 384.14zM953.04 509.14L996.35 534.14L996.35 584.14L953.04 609.14L909.74 584.14L909.74 534.14zM1039.65 209.14L1082.95 234.14L1082.95 284.14L1039.65 309.14L996.35 284.14L996.35 234.14zM996.35 284.14L1039.65 309.14L1039.65 359.14L996.35 384.14L953.04 359.14L953.04 309.14zM1082.95 -15.86L1126.25 9.14L1126.25 59.14L1082.95 84.14L1039.65 59.14L1039.65 9.14zM1126.25 359.14L1169.56 384.14L1169.56 434.14L1126.25 459.14L1082.95 434.14L1082.95 384.14zM1082.95 434.14L1126.25 459.14L1126.25 509.14L1082.95 534.14L1039.65 509.14L1039.65 459.14zM1126.25 509.14L1169.56 534.14L1169.56 584.14L1126.25 609.14L1082.95 584.14L1082.95 534.14zM1169.56 134.14L1212.86 159.14L1212.86 209.14L1169.56 234.14L1126.25 209.14L1126.25 159.14zM1299.46 59.14L1342.77 84.14L1342.77 134.14L1299.46 159.14L1256.16 134.14L1256.16 84.14zM1256.16 134.14L1299.46 159.14L1299.46 209.14L1256.16 234.14L1212.86 209.14L1212.86 159.14zM1386.07 59.14L1429.37 84.14L1429.37 134.14L1386.07 159.14L1342.77 134.14L1342.77 84.14zM1342.77 434.14L1386.07 459.14L1386.07 509.14L1342.77 534.14L1299.46 509.14L1299.46 459.14zM1429.37 -15.86L1472.67 9.14L1472.67 59.14L1429.37 84.14L1386.07 59.14L1386.07 9.14z' stroke='rgba(6%2c 80%2c 156%2c 0.93)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1481'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.game-container {
  border: 3px solid rgb(12, 4, 51);
  border-radius: 10px;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.5);
  width: 530px;
  height: 750px;
  position: relative;
  background: rgba(151, 152, 160, 0.705);
  user-select: none;
  margin-top: 100px;
}

.header {
  background: var(--primary-color);
  color: white;
  font-family: Oxanium, sans-serif;
  font-size: 24px;
  text-shadow: 1px 2px 2px black;
  letter-spacing: 2px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 5px auto 10px;
  height: 600px;
}

/* Splash Page -------------------- */
input[type='radio'] {
  opacity: 0;
  width: 100%;
  height: 75px;
  position: relative;
  top: -40px;
  cursor: pointer;
  z-index: 2;
}

.selection-container {
  position: relative;
  top: 65px;
}

.radio-container {
  width: 90%;
  height: 75px;
  margin: 25px;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 15px;
}

label {
  position: relative;
  top: 20px;
  left: 20px;
  font-size: 30px;
}

.selected-label {
  background: var(--select-color);
  color: white;
}

.best-score {
  position: relative;
  top: -100px;
  left: 330px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  max-width: fit-content;
}

.best-score span {
  margin: 0;
}

.best-score span:last-child {
  font-size: 24px;
}

.selection-footer {
  top: 134px;
}

/* Game Page -------------------------- */
.height-240 {
  height: 240px;
  width: 100%;
}

.height-500 {
  height: 500px;
  width: 100%;
}

.item-container {
  height: 552px;
  overflow-y: scroll;
  position: relative;
  -ms-overflow-style: none;
}

.item-container::-webkit-scrollbar {
  display: none;
}

.item {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  height: 80px;
  margin: 0 50px;
  user-select: none;
}

.finished > h1 {
  opacity: 0.5;
}

.selected-item {
  background: var(--select-color);
  position: fixed;
  top: 443px;
  z-index: -1;
  width: 529px;
  height: 80px;
}

.item-footer,
.selection-footer {
  width: 100%;
  height: 90px;
  background: rgb(90, 87, 87);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.item-footer {
  top: 1px;
}

button {
  cursor: pointer;
  height: 50px;
  border-radius: 5px;
  font-size: 25px;
  font-family: Oxanium, sans-serif;
  color: white;
  border: none;
  outline: none;
}

button:hover {
  filter: brightness(110%);
}

button:active {
  transform: scale(0.99);
}

.wrong,
.right {
  width: 40%;
}

.wrong {
  background: var(--danger);
  margin-right: 25px;
}

.right {
  background: var(--success);
}

.start,
.play-again {
  width: 90%;
  background: var(--primary-color);
}

/* Countdown Page ---------------------- */
.countdown {
  margin-top: 45%;
  font-size: 100px;
  text-align: center;
  user-select: none;
  cursor: pointer;
}

/* Score Page ------------------------- */
.score-container {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score-footer {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  position: relative;
  top: -30px;
}

.title {
  font-size: 45px;
}

.final-time {
  font-size: 100px;
  margin: 0;
  color: var(--success);
}

.base-time {
  margin-top: 100px;
  margin-bottom: 0;
}

.penalty-time {
  color: var(--danger);
}

/* Media Query: Laptop */
@media screen and (max-width: 1800px) {
  .game-container {
    margin-top: 35px;
  }

  .selected-item {
    top: 380px;
  }
}

/* Media Query: Large Smartphone (Vertical) */
@media screen and (max-width: 500px) {
  .game-container {
    width: 100%;
    margin-top: 0;
    border: none;
  }

  .selected-item {
    top: 345px;
  }

  .header {
    font-size: 1.2rem;
  }

  .countdown {
    margin-top: 60%;
  }

  .selection-container {
    top: 100px;
  }

  .radio-container {
    width: 93%;
    margin: 15px;
  }

  label {
    font-size: 1.7rem;
  }

  .best-score {
    font-size: 1rem;
    left: 245px;
  }

  .selection-footer {
    top: 183px;
  }
}

/* Media Query: iPhone */
@media screen and (max-width: 376px) {
  .best-score {
    left: 232px;
  }
}
